.textoMenuPrincipal{
    -fx-font-family:Arial;
    -fx-font-size:50;
}

.textoComun{
    -fx-font-family:Arial;
    -fx-font-size:25;

}

.fondoCliente{
    -fx-background-image: url('imgCliente.png');
    -fx-background-size: cover;
    -fx-border-color:grey;
    -fx-border-width:1px;

}

.fondoInforme{
    -fx-background-image: url('imgInforme.png');
    -fx-background-size: cover;
    -fx-border-color:grey;
    -fx-border-width:1px;

}

.fondoCobrador{
    -fx-background-image: url('imgCobrador.png');
    -fx-background-size: cover;
    -fx-border-color:grey;
    -fx-border-width:1px;
}

.fondoMensaje{
    -fx-background-image: url('imgMensaje.png');
    -fx-background-size: cover;
    -fx-border-color:grey;
    -fx-border-width:1px;
}